.button {
    height: 100px;
    width: 70px;
    background-color: #EEB414; 
    cursor: pointer;
    top: 50%;
    margin-top: 50px;
}
.left {
    background-image: url(../Images/arrow-left.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
.right {
    background-image: url(../Images/arrow-right.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
.dark {
    background-color: #F6F3E6;
}
.button:hover {
    background-color: #F6F3E6;
}
.dark:hover {
    background-color: #EEB414;
}