.second {
    float: left;
    width: 25%;
    margin-right: 30px;
    color: #F6F3E6;
    padding: 20px;
    background-color: #C21616;
}
.second h3, h4{
    text-align: center;
}
.second p {
    padding-bottom: 30px;
}
.darkSecond {
    background-color: #072B25;
}
@media only screen and (max-width: 700px){
    .second {
        width: 100%;
        margin-bottom: 50px;
        padding-right: 30px;
    }
}